.burger{
    background: none;
    border: none;
    position: absolute;
    top: 10%;
    left: 80%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .bun{
        width: 100px;
        height: 20px;
        background-color: lighten(global.$primary, 10%);
        // border-radius: 2.5px;
        margin-bottom: 5px;
    }
}